/* акцент #2196F3 */
/* основной цвет #212121 */
/* вторичный цвет #757575 */
/* белый #FFFFFF */
/* переменный цвет секции #F5F4FA */
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --o-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.image {
    display: block;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Лого */
.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19; 
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo span {
    color: #000000;
}
/* Шапка */
.page-header {
    border-bottom: 1px solid #ECECEC;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.page-header__container {
    display: flex;
    align-items: center;
}
.site-nav {
    margin-left: 93px;
}
.site-nav__list {
    display: flex;
    margin-left: 0;
}
.site-nav__item:not(:last-child) {
    margin-right: 50px;
}
.site-nav__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--primary-text-color);
    text-decoration: none;

    transition: color 250ms var(--o-animation-timing-function);
}
.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}
.site-nav__link--current {
    color: var(--accent-color);
}
.site-nav__link::after {
    content: ' ';
    display: inline-block;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);

    transform: scale(0);
    transition: transform 250ms var(--o-animation-timing-function);
}
.site-nav__link--current::after {
    transform: scale(1);
}
.site-nav__link:hover::after,
.site-nav__link:focus::after {
    transform: scale(1);
}
.contacts {
    margin-left: auto;
}
.contacts__link {
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    transition: color 250ms var(--o-animation-timing-function), fill 250ms var(--o-animation-timing-function);
}
.contacts__link:not(:last-child) {
    margin-right: 50px;
}
.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
.contacts__icon {
    margin-right: 10px;
}

/* Hero */
.h1-section {
    background-color: #C4C4C4;
    text-align: center;
}
.h1-section__overlay {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/hero-image.jpg);
}
.h1-section__container {
    width: 696px;
    margin: auto;
}
.h1-section__title {
    margin-bottom: 30px;
    margin-top: 0;

    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button {
    border: 0;
    border-radius: 4px;
    padding: 10px 32px;
    

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    align-items: center;

    cursor: pointer;
}

/* Секции */
.section {
    padding-bottom: 94px;
    padding-top: 94px;
}
.section--no-padding {
    padding-top: 0;
}
.section:nth-child(4) {
    background-color: var(--secondary-background-color);
}
.section__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-style: normal;
    font-size: 36px;
    text-align: center;
    line-height: 1.16;
}

/* Наши особенности */
.section__heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.section__icon {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 100px;
}
.section__text {
    margin: 0;
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
}
.section__list {
    display: flex;
    justify-content: space-between;
}
.section__item {
    width: 270px;
}

/* Чем мы занимаемся */

.service-area__item {
    position: relative;
}
.service-area__title {
    margin: 0;

    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase; 
    color: var(--primary-white-color);
}
.service-area__thumb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.card-set__item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.card-set__heading {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.card-set__text {
    margin-top: 0;
    margin-bottom: 16px;

    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center; 
}
.networks {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 32px;
    margin-left: 32px;
}
.networks__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;

    transition: background-color 250ms var(--o-animation-timing-function), fill 250ms var(--o-animation-timing-function);
}

.networks__item:not(:first-child) {
    margin-left: 10px;
}
.networks__link:hover, 
.networks__link:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
}

/* Постоянные клиенты */

.client__item {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    padding: 16px 32px;
    fill: #afb1b8;

    transition: border-color 250ms var(--o-animation-timing-function), fill 250ms var(--o-animation-timing-function);
}
.client__item:hover,
.client__item:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
    cursor: pointer;
}
/* Подвал */  
.page-footer {
    background-color: #2F303A;
}
.container--footer {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.logo--footer span {
    color: #FFFFFF;
}
.address {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    color: var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}
.address__contacts {
    margin-top: 9px;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.join-us {
    margin-left: 70px;
    margin-right: auto;
}
.join-us__heading {
    margin-top: 12px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
}
.join-us__list {
    display: flex;
    align-items: center;
}
.join-us__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-white-color);

    transition: background-color 250ms var(--o-animation-timing-function);
}
.join-us__item:not(:first-child) {
    margin-left: 10px;
}
.join-us__link:hover, 
.join-us__link:focus {
    background-color: var(--accent-color);
}

/* Имейл-форма подписки */

.subscription-form {
    display: flex;
    flex-direction: column;
}
.subscription-form__title {
    margin-top: 12px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.email-form__input {   
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    font-weight: 400;
    color: var(--primary-white-color);
}
.email-form__input:focus {
    outline: 0;
}

.email-form__button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    min-width: 200px;
    padding: 10px 29px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em; 
    color: var(--primary-white-color);

    cursor: pointer;
}
.email-form__icon {
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
}

/* Модальное окно и бэкдроп */

.backdrop.is-hidden {
    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;
}
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.2);
  
    opacity: 1;
    transition: opacity 250ms var(--o-animation-timing-function);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    min-width: 528px;
    min-height: 581px;
    border-radius: 4px;
    background-color: var(--primary-white-color);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--o-animation-timing-function);
}
.backdrop.is-hidden > .modal {
    transform: translate(-50%, -50%) scale(0.9);
}
.button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;

    cursor: pointer;

    transition: fill 250ms var(--o-animation-timing-function);
}
.button-close:hover,
.button-close:focus {
    fill: var(--accent-color);
}

/* Форма модалки  */

.modal__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--primary-text-color);
}
.form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    position: relative;

    fill: #000000;
}
.form__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}
.form__input {
    padding: 12px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}
.form__icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;
    
    fill: var(--primary-text-color);
}
.form__input:focus {
    border: 1px solid var(--accent-color);
    outline: 0;
}
.form__input:focus + .input-icon {
    fill: var(--accent-color);
}
.form__input--comment {
    height: 120px;
    padding-right: 16px;
    padding-left: 16px;
    resize: none;
}
.form__input--comment::placeholder { 
    color: rgba(117, 117, 117, 0.5);
}

.policy {
    position: relative;

    margin-top: 10px;
    border: 1px black;
}
.policy__text {
    display: inline-block;
    margin: 0;
    margin-left: 19px;

    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}
.policy__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.policy__icon {
    position: absolute;
    top: 50%;
    left: -4px;
    transform: translateY(-50%);

    display: inline-block;
    width: 16px;
    height: 15px;

    border: 1.65px solid var(--primary-text-color);
    border-radius: 1.7px;
}
.policy__checkbox:checked + .policy__icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-origin: content-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.policy__link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--accent-color);
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__button {
    padding: 10px 55px;
    margin-top: 30px;
    
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);

    cursor: pointer;
}

/* Стили для страницы portfolio.html */
/* Цвет фона объектов #F5F4FA */

/* Кнопки типа проектов */
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.filter.list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter__item:not(:first-child) {
    margin-left: 8px;
}
.filter__button {
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;

    color: var(--primary-text-color);
    background-color: #F5F4FA;    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    cursor: pointer;

    transition: color 250ms var(--o-animation-timing-function), background-color 250ms var(--o-animation-timing-function), box-shadow 250ms var(--o-animation-timing-function);
}
.filter__button:hover,
.filter__button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Список проектов */
.project.list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.project__card {
    margin: 15px;

    transition: box-shadow 250ms var(--o-animation-timing-function);
} 
.project__content {
    padding: 20px 24px;

    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;

}
.project__link {
    text-decoration: none;
    cursor: pointer;
}
.project__link .overlay { 
    position: relative;
    overflow: hidden;
}
.project__thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms var(--o-animation-timing-function);
}
.project__link:hover .project__thumb,
.project__link:focus .project__thumb {
    transform: translateY(0);
    opacity: 1;
}
.project__card:hover,
.project__card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 
}
.project__text {
    margin: 0;
    
    font-size: 18px;
    line-height: 1.55;
    color: var(--primary-white-color);
}
.project__name {
    margin: 0;

    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project__type {
    margin: 4px 0 0;

    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
}