.h1-section {
    background-color: #C4C4C4;
    text-align: center;

    &__container {
        width: 696px;
        margin: auto;
    }
}

.h1-section__overlay {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/hero-image.jpg);
}

.h1-section__title {
    margin-bottom: 30px;
    margin-top: 0;

    color: $primary-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.h1-section__button {
    @extend %button;
    padding: 10px 32px;

    align-items: center;
}