.card-set__item {
    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.card-set__heading {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.card-set__text {
    margin-top: 0;
    margin-bottom: 16px;

    color: $secondary-text-color;
    font-size: 16px;
    line-height: 1.18;
    text-align: center; 
}
.networks {
    @extend %list;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 32px;
    margin-left: 32px;
}
.networks__link{
    @include centered-flex();
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;

    transition: background-color 250ms $o-animation-timing-function, fill 250ms $o-animation-timing-function;

    &:hover, 
    &:focus {
    background-color: $accent-color;
    fill: $primary-white-color;
    }
}

.networks__item:not(:first-child) {
    margin-left: 10px;
}
