.service-area__item {
    position: relative;
}

.service-area__title {
    margin: 0;

    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase; 
    color: $primary-white-color;
}

.service-area__thumb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
}

.service-area__image {
    @extend %image;
}