$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$primary-white-color: #FFFFFF;
$secondary-background-color: #F5F4FA;
$o-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$primary-font-family: Roboto, sans-serif;
$logo-span-font: Raleway, sans-serif;