body {
    color: $primary-text-color;
    font-family: $primary-font-family;
    font-weight: 400;
    letter-spacing: 0.03em;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

    &--footer {
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
    }
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;

    &--no-padding {
        padding-top: 0;
    }
    &:nth-child(4) {
        background-color: $secondary-background-color;
    }
}

.section__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-style: normal;
    font-size: 36px;
    text-align: center;
    line-height: 1.16;
}